.menu-nav {
  margin-top: ($base-size * 10);
}

.section-main {
  background: $color-black;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  //   position: absolute;

  a {
    display: inline-flex;
    color: $color-grey;
    text-decoration: none;
    font-size: $font-semibold;
    font-size: 30px;
    margin: 0 90px;
  }
}

.section-main a:hover {
  color: $color-white;
}

.section-main a.active {
  color: $color-white;
}

@media only screen and (max-width: 600px) {
  .menu-nav {
    margin-top: 50px;
  }

  .section-main {
    a {
      display: block;
    }
  }
}
