.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  margin: ($base-size * 3, 5) auto;
  margin-top: 50px;
  padding: 25px;
  width: 100%;
}

.container .search {
  width: 100%;
}

.search-input {
  display: flex;
  justify-content: center;
}

.search-h1 {
  font-size: 60px;
  letter-spacing: 20px;
  font-weight: $font-semibold;
  color: $color-grey;
  text-transform: uppercase;
}

.input-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.input-details {
  p {
    font-size: 30px;
    font-weight: $font-semibold;
    color: $color-grey;
    border: none;
    letter-spacing: 2px;
    margin: 0 auto;
    margin-right: 20px;
    // margin-bottom: 20px;
  }

  input[type='text'] {
    width: 400px;
    margin-right: 20px;
    height: 50px;
    border-radius: 10px;
    font-size: $base-size * 1.5;
    font-weight: $font-semibold;
    color: $color-black;
    letter-spacing: 4px;
    padding-left: 10px;
  }
}

.selectCategories {
  width: 400px;
  margin-right: 20px;
  height: 50px;
  border-radius: 10px;
  font-size: $base-size * 1.5;
  font-weight: $font-semibold;
  color: $color-black;
  letter-spacing: 4px;
  padding-left: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

button {
  height: 50px;
  color: $color-white;
  background-color: $color-red;
  font-size: 20px;
  font-weight: $font-normal;
  letter-spacing: 2px;
  width: 140px;
  border-radius: 10px;
}

.founder-song {
  font-size: 30px;
  color: $color-white;
  font-weight: $font-normal;
  letter-spacing: 5px;
  text-align: center;
}

.song-container h1 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .input-details {
    display: block;
    text-align: center;
  }
  .song-container {
    width: 100%;
  }

  .searching {
    width: 100%;
  }
}
