/* Vriables */

$color-red: #cf383e;
$color-white: #fff;
$color-grey: #bfbfbf;
$color-black: #131313;

$font-header: 'Source Sans Pro', sans-serif;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$base-size: 12px;
